# Enter the details received from gnani apiservice
[USER]
API_URL=asr.gnani.ai
TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJ1c2VyX25hbWUiOiJiJzIzcVBpM1lUVjBySkNlNWRXUm1KOUhnNldReWRGdlBQaDMwSkFnUnc5NzQ9JyIsImtleV9kYXRlIjoiMjAxOS0wNS0yNSJ9.WbxGM6shd0DS08phCRX-1o-89kVaBOo9gKhljFNkUA-A7V0i_hLmaPdBvRwuioci6XsPEt6Z20m5YU0Zp4H3rg
ACCESSKEY=f7b08fd2ef0c0b7545b52768f1730dd976329515
ENCODING=pcm16
LANGUAGE_CODE=eng_IN
AUDIOFORMAT=wav
